<div class="row">
  <div class="col-12">
    <button class="btn btn-primary">New Food List</button>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <a href="#" class="list-group-item clearfix"
       *ngFor="let foo of foods">
      <div class="float-left">
        <h4 class="list-group-item-heading">{{ foo.name }}</h4>
        <p class="list-group-item-text">{{ foo.description }}</p>
        <p class="list-group-item-text">{{ foo.time }}</p>
      </div>
      <span class="float-right">
        <img src="{{ foo.imagePath }}"
             alt="{{ foo.name }}"
             class="img-fluid"
             style="max-height: 50px;" />
      </span>
    </a>
  </div>
</div>



