<h4>Foods List</h4>
<p>Find all your saved foods and more</p>
<br />

<div class="row">
  <div class="col-12">
    <a href="#" class="list-group-item clearfix"
       *ngFor="let foo of foods">
      <div class="card" style="width: 16rem;">
        <img src="{{ foo.imagePath }}" class="card-img-top" alt="Foods">
        <div class="card-body">
          <h5 class="card-title">{{ foo.name }}</h5>
          <p class="card-text">{{ foo.description }}</p>
          <p class="card-text">{{ foo.time }}</p>
        </div>
      </div>
    </a>
  </div>
</div>

<br />

<div class="row">
  <div class="col-12">
    <button class="btn btn-primary">New Food</button>
  </div>
</div>



