<h4>Blogs Page</h4>
<p>Find all your blog posts and more</p>
<br />

<h4>Recent Posts</h4>

<br />

<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Sleep tips: Better sleep</h5>
        <p class="card-text">
          Stick to a sleep schedule
          Set aside no more than eight hours for sleep. The recommended amount of sleep for a healthy adult is at least seven hours. Most people don't need more than eight hours in bed to be well rested.

          Go to bed and get up at the same time every day, including weekends. Being consistent reinforces your body's sleep-wake cycle.
        </p>
      </div>
    </div>
  </div>
</div>

<br />


