<div class="hero-wrap js-fullheight">
  <div class="home-slider owl-carousel js-fullheight">
    <div class="slider-item js-fullheight" style="">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center">
          <div class="col-md-7 ftco-animate">
            <div class="text w-100">
              <h2>Welcome to Health Coach</h2>
              <h1 class="mb-4">Get in shape faster, live your happy life and start exercising today!</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="slider-item js-fullheight" style="">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center">
          <div class="col-md-7 ftco-animate">
            <div class="text w-100">
              <h2>A Fresh approach to healthy life</h2>
              <h1 class="mb-4 color-white">Unlock your potential with good nutrition</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="slider-item js-fullheight" style="">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-end">
          <div class="col-md-6 ftco-animate">
            <div class="text w-100">
              <h2>Welcome Health Coach</h2>
              <h1 class="mb-4"></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section ftco-services">
  <div class="container">
    <div class="row">
      <div class="col-md-4 d-flex services align-self-stretch px-4 ftco-animate">
        <div class="d-block services-wrap text-center">
          <div class="img" style=""></div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Exercise Program</h3>
            <p>Start the exercise plan that works for you at a time best suited.</p>
            <p><a href="#" class="btn btn-primary btn-outline-primary">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex services align-self-stretch px-4 ftco-animate">
        <div class="d-block services-wrap text-center">
          <div class="img" style=""></div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Nutrition Plans</h3>
            <p>Decide on the best foods for a healthy lifestyle.</p>
            <p><a href="#" class="btn btn-primary btn-outline-primary">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex services align-self-stretch px-4 ftco-animate">
        <div class="d-block services-wrap text-center">
          <div class="img" style=""></div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Sleeping schedule</h3>
            <p>“I don’t need a hairstylist, my pillow gives me a new hairstyle every morning.” — Unknown</p>
            <p><a href="#" class="btn btn-primary btn-outline-primary">Learn more</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-5 p-md-5 img img-2 mt-5 mt-md-0" style="">
      </div>
      <div class="col-md-7 wrap-about py-4 py-md-5 ftco-animate">
        <div class="heading-section mb-5">
          <div class="pl-md-5">
            <span class="subheading mb-2">Welcome to Healt Assistant</span>
            <h2 class="mb-2">Hello! Health Assistant is a natural way for healthy living</h2>
          </div>
        </div>
        <div class="pl-md-5">
          <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
          <p>Health App aims to support and encourage you to undertake a healthy lifestyle so that you can the most out of life</p>
        </div>
      </div>
    </div>
  </div>
</section>


