 <!-- Header Start -->
<div class="container-fluid hero-header bg-light py-5 mb-5">
  <div class="container py-5">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6">
        <h1 class="display-4 mb-3 animated slideInDown">Health App - Your guide to a better lifestyle!!</h1>
        <p class="animated slideInDown">
          Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu
          diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo
          magna dolore erat amet
        </p>
        <a href="" class="btn btn-primary py-3 px-4 animated slideInDown">Explore More</a>
      </div>
      <div class="col-lg-6 animated fadeIn">
        <img class="img-fluid animated pulse infinite" style="animation-duration: 3s;" [src]="imgMain"
             alt="">
      </div>
    </div>
  </div>
</div>
<!-- Header End -->

<!-- About Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
        <img class="img-fluid" [src]="imgAbout" alt="">
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="h-100">
          <h1 class="display-6">About Us</h1>
          <p class="text-primary fs-5 mb-4">Healthy living is our number 1 priority</p>
          <p>
            Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos.
            Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet
          </p>
          <p class="mb-4">
            Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet
            diam et eos. Clita erat ipsum et lorem et sit.
          </p>
          <div class="d-flex align-items-center mb-2">
            <i class="fa fa-check bg-light text-primary btn-sm-square rounded-circle me-3 fw-bold"></i>
            <span>Tempor erat elitr rebum at clita</span>
          </div>
          <div class="d-flex align-items-center mb-2">
            <i class="fa fa-check bg-light text-primary btn-sm-square rounded-circle me-3 fw-bold"></i>
            <span>Tempor erat elitr rebum at clita</span>
          </div>
          <div class="d-flex align-items-center mb-4">
            <i class="fa fa-check bg-light text-primary btn-sm-square rounded-circle me-3 fw-bold"></i>
            <span>Tempor erat elitr rebum at clita</span>
          </div>
          <a class="btn btn-primary py-3 px-4" href="">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->
<!-- Service Start -->
<div class="container-xxl bg-light py-5 my-5">
  <div class="container py-5">
    <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
      <h1 class="display-6">Services</h1>
      <p class="text-primary fs-5 mb-5">What we are all about</p>
    </div>
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item bg-white p-5">
          <img class="img-fluid mb-4" [src]="imgFood" alt="">
          <h5 class="mb-3">Eating healthy</h5>
          <p>
            Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo
            justo
          </p>
          <a href="">Read More <i class="fa fa-arrow-right ms-2"></i></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item bg-white p-5">
          <img class="img-fluid mb-4" [src]="imgExercise" alt="">
          <h5 class="mb-3">Exercise regurlarly</h5>
          <p>
            Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo
            justo
          </p>
          <a href="">Read More <i class="fa fa-arrow-right ms-2"></i></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item bg-white p-5">
          <img class="img-fluid mb-4" [src]="imgSleep" alt="">
          <h5 class="mb-3">Sleeping better</h5>
          <p>
            Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo
            justo
          </p>
          <a href="">Read More <i class="fa fa-arrow-right ms-2"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Service End -->

<!-- Features Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
      <h1 class="display-6">Why Us!</h1>
      <p class="text-primary fs-5 mb-5">Your personal assistant to all things healthy</p>
    </div>
    <div class="row g-5">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="d-flex align-items-start">
          <img class="img-fluid flex-shrink-0" src="img/icon-7.png" alt="">
          <div class="ps-4">
            <h5 class="mb-3">Easy To Start</h5>
            <span>
              Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit
              clita duo justo
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="d-flex align-items-start">
          <img class="img-fluid flex-shrink-0" src="img/icon-6.png" alt="">
          <div class="ps-4">
            <h5 class="mb-3">Safe & Secure</h5>
            <span>
              Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit
              clita duo justo
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="d-flex align-items-start">
          <img class="img-fluid flex-shrink-0" src="img/icon-5.png" alt="">
          <div class="ps-4">
            <h5 class="mb-3">Affordable Plans</h5>
            <span>
              Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit
              clita duo justo
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Features End -->
